*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/img/11.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper{
  width: 420px;
  color: #fff;
  background: transparent;
  border: 2px solid rgb(255,255,255 .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgb(255,255,255 .2);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input_box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

.input_box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input_box input::placeholder{
  color: #fff;
}

.input_box i{
  position:absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0px 15px;
}

.remember label input{
  accent-color: #fff;
  margin: 3px;
}

.remember a{
  color: #fff;
  text-decoration: none;
}

.remember a:hover{
  text-decoration: underline;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 40px;
  outline: none;
  box-shadow: 0 0 10px rgb(0,0,0 .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600px;
}

.wrapper .register_link{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.register_link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600px;
}

.register_link p a:hover{
  text-decoration: underline;
  color: rgba(2, 0, 36, 1) 13%;
}