*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/img/gradient_1.png);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-size: cover;
  background-position: center;
}

.wrapper{
  position: relative;
  overflow: hidden; /* важно */
  width: 420px;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.15);
  -webkit-backdrop-filter: blur(20px); /* для Safari */
  box-shadow: 0 0 10px rgb(255,255,255 .2);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  /*background: radial-gradient(
    200px circle at var(--x) var(--y),
    rgba(255,255,255,0.3),
    transparent 60%
  );
  */
  background: radial-gradient(
  40px circle at var(--x) var(--y),
  rgba(255,255,255,0.25),
  transparent 70%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/*        
.wrapper {
  cursor: none;
}
*/

.wrapper:hover::before {
  opacity: 1;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input_box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

.wrapper {
  opacity: 0;
  transform: translateY(40px) scale(0.96);
  animation: fadeInUp 0.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.input_box input:focus {
  border-color: rgb(10, 9, 59);
  box-shadow: 0 0 10px rgba(77,163,255,0.4);
}

.input_box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input_box input::placeholder{
  color: #fff;
}

.input_box i{
  position:absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0px 15px;
}

.remember label input{
  accent-color: #fff;
  margin: 3px;
}

.remember a{
  color: #fff;
  text-decoration: none;
}

.remember a:hover{
  text-decoration: underline;
}

/*
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 40px;
  outline: none;
  box-shadow: 0 0 10px rgb(0,0,0 .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600px;
}
*/

.btn {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255,255,255,0.4);
  border-color: #fff;
  box-shadow: 0 0 10px rgb(0,0,0 .1);
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  transition: all 500ms ease;
}

.btn:hover{
  background: rgb(10, 9, 59);
  transform: translateY(-2px);
}


.wrapper .register_link{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.register_link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600px;
}

.register_link p a:hover{
  text-decoration: underline;
  color: rgba(2, 0, 36, 1) 13%;
}